html { font-size: 23px; font-family: 'Iowan Old Style', 'Palatino Linotype', 'URW Palladio L', P052, serif; margin: 0 auto; max-width: 45rem; background-color: #fffcf2; color: #161616; padding: 5ch;}
p, ul, ol, a, address, input, button, select, footer { font-family: 'Iowan Old Style', 'Palatino Linotype', 'URW Palladio L', P052, serif; font-size: 23px; }
p { padding: 0; text-indent: 1ch; margin-top: 0.4rem; margin-bottom: 0.4rem; }
ul { margin-top: 0; }
h1 { margin: 0; padding: 0; margin-bottom: 0.4rem; font-size: 2rem; font-style: italic; font-weight: 400; }
h2 { font-size: 1.5rem; }
h3 { font-size: 1.4rem; }
h4 { font-size: 1.3rem; }
h5 { font-size: 1.2rem; }
h6 { font-size: 1.1rem; }
a { color: #404040; }
a:hover { text-decoration: none; }
code, pre, kbd, samp, tt { font-family: ui-monospace, SFMono-Regular, ui-monospace, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace; font-size: 23px; max-width: 100%; }
table { border-collapse: collapse; }
td, th { padding: 10px 20px; }
caption { padding: 10px; }
cite::before { content: "—"; }
blockquote, blockquote > p { font-style: italic; padding-right: 1rem; padding-left: 1rem; text-indent: 0;}
img { width: 100%; height: auto; margin: 0 auto; padding: 1rem; }
summary { font-family: 'Iowan Old Style', 'Palatino Linotype', 'URW Palladio L', P052, serif; font-size: 1rem; }
input, select, button { background-color: #fffcf2; color: #161616; border: #dadada 1px solid; padding: 2px; padding-left: 0.25rem;padding-right: 0.25rem; }
button { border-radius: 1rem; }
footer { text-align: center; }
footer::first-letter { font-size: 3rem; }
@media (prefers-color-scheme: dark) { body { background-color: #161616; color: #f6f6f6; } a { color: #bebebe; } mark { background-color: #ffc799; } }
@media (prefers-color-scheme: light) { body { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; text-rendering: optimizeLegibility; } mark { background-color: #ffc799; } }
