.container {
	display: grid;
	grid-template-columns: 25% 73% 0;
	grid-template-rows: 100% 0 0;
	gap: 0px 2%;
	grid-auto-flow: row;
	grid-template-areas: "Menu Text Text" "Menu Text Text" "Menu Text Text";
}

.Menu {
	grid-area: Menu;
	text-wrap: pretty;
}

.Text {
	grid-area: Text;
	max-width: 30rem;
}

html {
	padding: 1rem;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}

h1 {
	font-size: 1.476rem;
}

h2 {
	font-size: 1.383rem;
}

h3 {
	font-size: 1.296rem;
}

h4 {
	font-size: 1.215rem;
}

h5 {
	font-size: 1.138rem;
}

h6 {
	font-size: 1.067rem;
}

a {
	color: black;
	text-decoration: dotted;
}

a:hover {
	text-decoration: double;
}

a:visited {
	text-decoration: solid;
}
code,
pre,
tt {
	font-family: monospace;
}

blockquote {
	font-style: italic;
}

img {
	max-width: 90%;
	margin: 0 auto;
	display: block;
}

span,
img {
	vertical-align: middle;
	margin: 0;
	display: inline;
}

a img {
	height: 2rem;
	margin: 0;
	display: inline;
}
