.container {
	display: grid;
	grid-template-columns: 14% 84% 0;
	grid-template-rows: 100% 0 0;
	gap: 0px 2%;
	grid-auto-flow: row;
	grid-template-areas: "Menu Text Text" "Menu Text Text" "Menu Text Text";
}

.Menu {
	grid-area: Menu;
}

.Text {
	grid-area: Text;
	max-width: 30rem;
}

html {
	background-color: white;
	color: black;
	font-size: 1.3rem;
	padding: 1rem;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}

h1 {
	font-size: 1.476rem;
}

h2 {
	font-size: 1.383rem;
}

h3 {
	font-size: 1.296rem;
}

h4 {
	font-size: 1.215rem;
}

h5 {
	font-size: 1.138rem;
}

h6 {
	font-size: 1.067rem;
}

a {
	color: black;
}
/*
image,
img {
	max-width: 100%;
	padding: 1rem;
	filter: contrast(10000%) brightness(100%);
	mix-blend-mode: multiply;
}*/
/*
img::after,
image::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(to right, black 0%, white 100%);
	mix-blend-mode: color;
	pointer-events: none;
}
*/
code,
pre,
tt {
	font-family: monospace;
}

blockquote {
	font-style: italic;
}

@media (prefers-color-scheme: dark) {
	html {
		background-color: black;
		color: white;
		font-size: 1.3rem;
		padding: 1rem;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		text-rendering: optimizeLegibility;
	}

	a {
		color: white;
	}
}

span,
img {
	vertical-align: middle;
}

a img {
	height: 2rem;
}
